---
title: Release Notes for Zettaset XCrypt Archive for PCF
owner: Partners
---

These are release notes for Zettaset XCrypt Archive for PCF.


## <a id="ver"></a> v8.4.2

**Release Date:** October 5, 2018


