---
title: Release Notes for Zettaset XCrypt Archive for VMware Tanzu
owner: Partners
---

These are release notes for Zettaset XCrypt Archive for VMware Tanzu.


## <a id="ver"></a> v8.4.2

**Release Date:** October 26, 2018

Features in this release:

* Initial Open Beta Release
